@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

*{
    margin: 0;
    padding: 0;
}

.container1{
	display: inline-flex;
}

.sec1{
    width: 50vw;
    height: 100vh;
}

.sec2{
    width: 50vw;
    height: 100vh;
}

.sq1{
    width: 30vw;
    height: 80vh;
    margin-top: 10vh;
    margin-left: auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.sq1-1{
    margin:5vw;
    margin-top: 0vh;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    height: 15vh;
    margin-top: 5vh;
    text-align: center;
    text-justify: center;

}

.forgot-pass{
    margin-top: 4.5vh;
    font-size: xx-large;
    font-family: 'Kanit', sans-serif;
}

.forgot-pass2{
    color: black;
    margin-top: 8vh;
    font: xx-large;
    text-align: center;
    font-family: 'Varela Round', sans-serif;
}

.form-email{
    margin-top: 2vh;
    margin-left: 4vw;
    width: 20vw;
    border-radius: 10px;
    padding: 2vh;
    text-align: center;
    font-family: 'Teko', sans-serif;
    font-size: larger;
}

.btn{
    margin-top: 5vh;
    margin-left: 10vw;
    width: 10vw;
    border-radius: 10px;
    padding: 1.3vh 1.8vw;
    text-align: center;
    background-color: blue;
    border-color: white;
    color: white;
    font-family: 'Teko', sans-serif;
    font-size: larger;

}

img{
    width: 70vw;
    height:-webkit-fill-available;
    transform: scaleX(-1);
    margin: auto;
    border-radius: 0vw;
}