<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <!DOCTYPE html>

    <html lang="en" dir="ltr">
      <head>
        <meta charset="UTF-8">
      
        <link rel="stylesheet" href="../static/clubh.css">
        <script src="create.js"></script>
        <!-- Boxicons CDN Link -->
        <script src="https://kit.fontawesome.com/535241a19c.js" crossorigin="anonymous"></script>
        <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
        <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500&display=swap" rel="stylesheet">
    
      <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap" rel="stylesheet">
     
         <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOMEPAGE</title>
       </head>
    <body>
      <div class="sidebar open">
        <div class="logo-details">
          <a href="index.html"><i class="fa-solid fa-group-arrows-rotate"></i></a>
            <div class="logo_name">Communify</div>
            <!-- <i class='bx bx-menu' id="btn" ></i> -->
        </div>
        <ul class="nav-list">
          <li>
              <i class='bx bx-search' ></i>
             <input type="text" placeholder="">
             <span class="tooltip">Search</span>
          </li>
          <li>
            <a href="create.html">
              <i class='bx bx-grid-alt'></i>
              <span class="links_name">Home</span>
            </a>
             <span class="tooltip">Home</span>
          </li>
          <li   onclick="show_list1()">
           <a href="post.html">
            <i class="fa-solid fa-plus"></i>
             <span class="links_name" id="create"   >Create</span>
           </a>
           <span class="tooltip">Create</span>
         </li>
         <li>
           <a href="message.html">
             <i class='bx bx-chat' ></i>
             <span class="links_name">Messages</span>
           </a>
           <span class="tooltip">Messages</span>
         </li>
         <li>
           <a href="#">
             <i class='bx bx-pie-chart-alt-2' ></i>
             <span class="links_name">Clubs</span>
           </a>
           <span class="tooltip">Clubs</span>
         </li>
         <li>
           <a href="#">
            <i class='bx bx-heart' ></i>
             <span class="links_name">Likes</span>
           </a>
           <span class="tooltip">Likes</span>
         </li>
         <li>
           <a href="#">
            <i class="fa-regular fa-bell"></i>
             <span class="links_name">notifications</span>
           </a>
           <span class="tooltip">notifications</span>
         </li>
         <li>
           <a href="#">
            <i class="fa-regular fa-bookmark"></i>
             <span class="links_name">Saved</span>
           </a>
           <span class="tooltip">Saved</span>
         </li>
         <li>
           <a href="#">
             <i class='bx bx-cog' ></i>
             <span class="links_name">Settings</span>
           </a>
           <span class="tooltip">Setting</span>
         <!-- </li>
          <li class="profile">
             <div class="profile-details">
              <img src="profile.jpg" alt="profileImg">
               
             </div>
            
         </li>  -->
        </ul>
      </div>
    
    
    
    
    
    
    
    
    
    
    
    
    
      
      <section class="home-section">
          
    
    
    
    
    
    <div class="head">
    
      
    
    
    
    
    
    
    
    <div class="log active">
        <div class="logo-details">
         
            <div class="logo_name">Communify</div>
          
        </div>
    
    
    
    </div>
    
    
    <div class="profile">
    
    <div class="profimg">
        <img src="../static/profile.jpg" class="image--cover">
    
    </div>
    <div class="profname">
    Pramod patil
    
    <i class="fas fa-caret-down"></i>
    
    
    </div>
    
    
    </div>
    
    
    
    
    
    
    
    
    
    
    </div>










    
    <div class="feed">



        <div class="clubhome"  >
         <div class="coverpic">
            <img src="../static/comm1.jpg" >
         </div>
         <div class="clubp">
            <img src="../static/car.jpg" >
         </div>

        <div class="clubn">
            <h2>Team Veloce Racing</h2>
            <p>A community for car enthusiasts to discuss, share, and appreciate <br> world of automobiles.</p>
        </div>



        </div>
        <div class="trend">
    
            <div class="fy">
        <div class="fytext">
        <h3>Posts</h3>
        </div>
        
        
            </div>
        
            <div class="follo">
        
        <div class="folltext">
          <h3>Explore</h3>
        </div>
            </div>
            
        
          </div>
        

<!-- 
      <div class="post-container">







    <div class="acc">
      
          <div class="p-img">
      <img src="profile.jpg" >
          </div>
          <div class="p-name">
            <p>Team Quark</p>
          </div>
      
        </div>
            <div class="p-title">
      <h2>Let's connect and discover to create a brighter future</h2>
            </div>
            <div class="des">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas ratione facilis odio tenetur quisquam reprehenderit quam rem, maxime ut earum assumenda sit, dolores blanditiis asperiores nam ab! Esse, error porro!</p>
      
            </div>
            <div class="footer">
      <button class="like"   ><i class="fa-regular fa-heart"  onclick="show_list2()"  ></i></button>
      <button class="comment"><i class="fa-regular fa-comment"></i></button>
      <button class="save"><i class="fa-regular fa-bookmark"  onclick="show_list3()"  ></i></button>
      <button class="share"><i class="fa-regular fa-share-from-square"></i></button>
      
      
            </div>
      
      
     
      
        </div>  -->
      
        <div class="post-container">
          <div class="acc">
        
            <div class="p-img">
        <img src="../static/profile.png" >
            </div>
            <div class="p-name">
              <p>Veloce Racing</p>
            </div>
        
          </div>
              <div class="p-title">
        <h2>The Evolution of Cars: From the First Automobile to Modern Vehicles</h2>
              </div>
              <div class="des">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas ratione facilis odio tenetur quisquam reprehenderit quam rem, maxime ut earum assumenda sit, dolores blanditiis asperiores nam ab! Esse, error porro! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rem minus quibusdam cupiditate necessitatibus itaque ab perspiciatis sed? Deleniti eum, at dolorem temporibus placeat quo itaque distinctio laborum neque, omnis quibusdam.</p>
                <div class="desimg">
    
                  <img src="car.jpg" alt="image--cover">
                  
                  </div>
              </div>
              <div class="footer">
                <button class="like"   ><i class="fa-regular fa-heart"  onclick="show_list2()"  ></i></button>
        <button class="comment"><i class="fa-regular fa-comment"></i></button>
        <button class="save"><i class="fa-regular fa-bookmark"></i></button>
        <button class="share"><i class="fa-regular fa-share-from-square"></i></button>
        
        
              </div>
        
        
        
        
          </div>
          <div class="post-container">
            <div class="acc">
          
              <div class="p-img">
          <img src="../static/profile.png" >
              </div>
              <div class="p-name">
                <p>Social welfare and development</p>
              </div>
          
            </div>
                <div class="p-title">
          <h2>Building Strong Communities: Strategies for Bringing People Together</h2>
                </div>
                <div class="des">
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas ratione facilis odio tenetur quisquam reprehenderit quam rem, maxime ut earum assumenda sit, dolores blanditiis asperiores nam ab! Esse, error porro! Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, a suscipit placeat quisquam magnam natus saepe? Tempora, aliquid, veritatis, quidem quibusdam accusantium tempore ad iste vitae exercitationem nesciunt molestiae maiores.</p>
          
                  <div class="desimg">
    
                    <img src="../static/comm1.jpg" alt="image--cover">
                    
                    </div>
    
                </div>
                <div class="footer">
                  <button class="like"   ><i class="fa-regular fa-heart"  onclick="show_list2()"  ></i></button>
          <button class="comment"><i class="fa-regular fa-comment"></i></button>
          <button class="save"><i class="fa-regular fa-bookmark"></i></button>
          <button class="share"><i class="fa-regular fa-share-from-square"></i></button>
          
          
                </div>
          
          
          
          
            </div>
            
      
        
        
      
      
      
        
      
      
      
      
      
      
      
      
      
    
    </div>
    
    

<div class="rightside">

    <div class="suggest">
    
    <div class="suggest_head">
    
    <h3>Description</h3>
    </div>
    <div class="sugclub">
        <p>Welcome to the Car Enthusiasts Club, a thriving community dedicated to all things automotive. Whether you're a fan of classic cars, sports cars, or the latest cutting-edge vehicles, this is the place for you to connect with fellow enthusiasts, share your knowledge, and engage in exciting discussions
      Join us as we explore the fascinating world of automobiles, from the history and craftsmanship behind iconic car models to the latest industry trends and innovations. Share your favorite car stories, showcase your custom builds, and stay updated on the newest releases and upcoming car events.
     Our club is open to everyone, from passionate car collectors to casual fans. We value diversity and encourage respectful conversations that celebrate our shared love for cars. So buckle up and get ready for an exhilarating ride with the Car Enthusiasts Club!</p>
    
    
    </div>
    
    
    </div>
   
    
    
    
    </div>
    
    
    
   
    
          
    
    
    
    
    
    
    
    
      </section>
    
    
    
    
     
      
      <script>
document.addEventListener('DOMContentLoaded', function() {
  const fyDiv = document.querySelector('.fy');
  const followDiv = document.querySelector('.follo');

  fyDiv.style.backgroundColor = '#29283c';
  fyDiv.style.color = '#fff';

  fyDiv.addEventListener('click', function() {
    fyDiv.style.backgroundColor = '#29283c';
    fyDiv.style.color = '#fff';
    followDiv.style.backgroundColor = '';
    followDiv.style.color = '#29283c';
  });

  followDiv.addEventListener('click', function() {
    followDiv.style.backgroundColor = '#29283c';
    followDiv.style.color = '#fff';
    fyDiv.style.backgroundColor = '';
    fyDiv.style.color = '#29283c';
    window.location.href = "create.html";
  });
});


      </script>
    </body>
    </html>
     
    
</body>
</html>