{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'contact.css'%}">
    </head>
    <body>
          <div class="front_end">
            <div class="main_box">
                <div class="name">
                    Pradnyesh Rawane
                </div>
                <div class="words">
                    <ul>
                        <li>Frontend Developer</li>
                      
                    </ul>
                </div>
                <div class="description">
                </div>
                <div class="social_media">
                    <div class="linkedin">
                        <a href="www.google.com"><img class="img2" src="{% static 'linkedin.jpg'%}"></a>
                    </div>
                    <div class="insta">
                        <a href="www.youtube.com"><img class="img2" src="{% static 'insta.jpg'%}"></a>
                    </div>
                </div>
                <div class="number">
                    Contact Number: 9759891029
                </div>
              </div>

              <div class="main_box">
                <div class="name">
                    Prajwal Ghule
                </div>
                <div class="words">
                    <ul>
                        <li>Backend Developer</li>
                        
                    </ul>
                </div>
                <div class="social_media">
                    <div class="linkedin">
                        <a href="www.google.com"><img class="img2" src="{% static 'linkedin.jpg'%}"></a>
                    </div>
                    <div class="insta">
                        <a href="www.youtube.com"><img class="img2" src="{% static 'insta.jpg'%}"></a>
                    </div>
                </div>
                <div class="number">
                    Contact Number: 93812422292
                </div>
              </div>

              <div class="main_box">
                <div class="name">
                    Prajyot Borikar
                </div>
                <div class="words">
                    <ul>
                        <li>Frontend Developer</li>
                        
                    </ul>
                </div>
                <div class="social_media">
                    <div class="linkedin">
                        <a href="www.google.com"><img class="img2" src="{% static 'linkedin.jpg'%}"></a>
                    </div>
                    <div class="insta">
                        <a href="www.youtube.com"><img class="img2" src="{% static 'insta.jpg'%}"></a>
                    </div>
                </div>
                <div class="number">
                    Contact Number: 8421379774
                </div>
              </div>
          </div>


          <div class="back_end">
            <div class="main_box">
                <div class="name">
                    Pramod Shivapnor
                </div>
                <div class="words">
                    <ul>
                        <li>Frontend Developer</li>
                        
                    </ul>
                </div>
                <div class="social_media">
                    <div class="linkedin">
                        <a href="www.google.com"><img class="img2" src="{% static 'linkedin.jpg'%}"></a>
                    </div>
                    <div class="insta">
                        <a href="www.youtube.com"><img class="img2" src="{% static 'insta.jpg'%}"></a>
                    </div>
                </div>
                <div class="number">
                    Contact Number: 778652782618
                </div>
              </div>

              <div class="main_box">
                <div class="name">
                    Pranay Kuhite
                </div>
                <div class="words">
                    <ul>
                        <li>Backend Developer</li>
                        
                    </ul>
                </div>
                <div class="social_media">
                    <div class="linkedin">
                        <a href="www.google.com"><img class="img2" src="{% static 'linkedin.jpg'%}"></a>
                    </div>
                    <div class="insta">
                        <a href="www.youtube.com"><img class="img2" src="{% static 'insta.jpg'%}"></a>
                    </div>
                </div>
                <div class="number">
                    Contact Number: 8421379774
                </div>
              </div>

              <div class="main_box">
                <div class="name">
                    Pratham Gadkari
                </div>
                <div class="words">
                    <ul>
                        <li>Backend Developer</li>
                        
                    </ul>
                </div>
                <div class="social_media">
                    <div class="linkedin">
                        <a href="www.google.com"><img class="img2" src="{% static 'linkedin.jpg'%}"></a>
                    </div>
                    <div class="insta">
                        <a href="www.youtube.com"><img class="img2" src="{% static 'insta.jpg'%}"></a>
                    </div>
                </div>
                <div class="number">
                    Contact Number: 9881790627
                </div>
              </div>
          </div>
          </div>

    </body>
</html>